body {
    margin: 0;
    padding: 1em;
    
    color: #1b1b1b;
    background: #fff;
    
    font: medium/1.4 "Droid Serif", Serif;
    
    max-width: 500px;
    margin: 0 auto;
    
    text-align: justify;
}

header {
    margin: 0 0 2em;
}

footer {
    margin: 2em 0;
}

a {
    color: #993F2D;
}

ol.tracks {
    margin: 1em 0;
    padding: 0;
}

ol.tracks li {
    margin: 2em 0;
    padding: 0;
    list-style-position: outside;
}

ol.tracks img {
    display: block;
    
    width: 480px;
    height: 480px;
    
    border: none;
}